* { box-sizing: border-box }
a {
    color: inherit;
    text-decoration: none;
}
a:hover { text-decoration: underline }
body { font-family: 'Open Sans', arial, helvetica, sans-serif }
ul {
    margin: 0;
    padding: 0;
}
li { list-style: none }
option {
    font-size: 1em;
    border-bottom: solid thin #ccc;
}
.mD {
    color: #334466;
    margin: 0 0 .5em 0;
    border-bottom: solid thin #ccc;
}
#gmap {
    width: 95%;
    height: 450px;
    margin: 0 auto .25em auto;
}
.clear {
    background: #ccc;
    padding: .25em;
    margin: .25em auto;
    width: 100px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    display: block;
}
#wrap {
    max-width: 1000px;
    width: 100%;
}
/* header */
header {
    width: 100%;
    border-bottom: solid medium #0080ff;
}
#years,
#strmName,
#basin {
    width: 150px;
    margin: 1.5em auto 0 auto;
    border: solid thin #0080ff;
    font-size: 1em;
    display: inline-block;
    vertical-align: top;
}
#title {
    font-weight: 700;
    color: #14dd31;
    display: inline-block;
    vertical-align: top;
    font-size: 1.2em;
    text-transform: uppercase;
    white-space: pre-line;
    width: 100px;
    margin: 0 0 0 .25em;
}
.h_icon {
    height: 70px;
    width: auto;
    display: inline-block;
    margin-left: .5em;
}
.sel {
    text-transform: capitalize;
    color: #0080ff;
    vertical-align: top;
    margin: 1.5em .5em 0 1em;
    display: inline-block;
}
/* tabs */
#hist,
#curr {
    padding: .25em .5em;
    display: inline-block;
    margin: 0 .5em;
    float: right;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.selected { background: #0080ff }
.not-selected { background: #09477a }
.clr { clear: both }
/* Year and Storm Info Header */
#y_info,
#s_info,
#b_info {
    color: #ccc;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-right: .5em;
}
#y_selected,
#s_selected,
#b_selected { color: #0080ff }
/* Map and Storm Data and Wrapper */
#map-data {
    padding: .25em;
    margin-top: 1em;
}
#hurr {
    height: 500px;
    overflow-y: scroll;
    padding: .5em 0 2em 0;
    border-bottom: solid medium #ccc;
    font-size: .9em;
}
.k {
    width: 24%;
    padding: .25em;
    font-size: .9em;
    text-align: center;
    display: inline-block;
    margin-bottom: .5em;
    text-align: center;
}
.tropDep,
.tropStrm,
.hur,
.majHur { padding: 0 .25em }
.tropDep { background: #4ED9F5 }
.tropStrm { background: #6DC343 }
.hur { background: #FF7309 }
.majHur { background: #E83B0C }
/* Sidebar */
#sidebar {
    padding: 0 .25em;
    margin-right: .25em;
    margin-top: 1em;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#storm-toggle li {
    display: inline-block;
    width: auto;
    text-align: left;
    padding: .5em;
    cursor: pointer;
    background: #eee;
    color: #0080ff;
    margin-right: .5em;
    border-radius: 4px;
    margin-bottom: .5em;
    font-size: .9em;
}
#storm-toggle li:hover {
    background: #14dd31;
    color: #fff;
    opacity: .8;
}
#sidebar-header {
    display: block;
    padding: .5em 0;
    color: #0080ff;
    font-size: 1.2em;
}
.sel-storm {
    background: #14dd31;
    color: #fff;
}
.note {
    font-size: .7em;
    font-style: italic;
}
.strmData {
    padding: 0 .25em;
    border-bottom: solid medium #fff;
}
.pin {
    width: 4%;
    max-width: 40px;
    display: inline-block;
    padding: .25em;
    vertical-align: top;
    margin-right: 10px;
    cursor: pointer;
    height: 100%;
}
.i {
    display: inline-block;
    width: 90%;
}
#orig { font-size: .9em }
    #orig span { margin-right: 10px }
div#dSrc {
    font-size: .8em;
    font-style: italic;
    color: #ccc;
}
.ti { color: #0080ff }
#hurr .ti { color: #000 }
#clear {
    display: inline-block;
    margin-left: 1em;
    padding: .25em;
    background: #0080ff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: top;
    margin-top: 1.2em;
}
#hideStorm { display: none }
@media screen and (min-width:651px) and (max-width:1120px) { 
	body { font-size: 80% }
}
@media screen and (min-width:2px) and (max-width:1119px) { 
	.basinList,
	.yearsList,
	.strmList {
	    margin-bottom: .5em;
	    width: auto;
	    display: inline-block;
	}
	#years,
	#basin,
	#strmName {
	    margin: 0 auto;
	    width: 150px;
	}
	.sel {
	    margin: 0 .25em 0 .5em;
	    display: block;
	}
	.h_icon { height: 45px }
	.logo {
	    width: 100%;
	    display: block;
	    text-align: center;
	}
	#title {
	    width: auto;
	    text-align: center;
	}
	#clear {
	    width: 100px;
	    margin: 0 auto;
	    display: block;
	    text-align: center;
	    margin-bottom: 10px;
	}
}
@media screen and (min-width:2px) and (max-width:768px) { 
	body {
	    font-size: 100%;
	    padding: .5em;
	}
	.basinList,
	.yearsList,
	.strmList {
	    text-align: center;
	    width: 100%;
	    display: block;
	}
	#sidebar {
	    float: none;
	    display: block;
	    width: 100%;
	}
	    #sidebar .note { display: none }
	#map-data {
	    width: 100%;
	    display: block;
	}
	#sidebar-header { display: none }
	.h_icon { display: none }
	#title {
	    font-size: 1em;
	    width: 100%;
	}
	#key { font-size: .8em }
	    #key span {
	        height: 40px;
	        vertical-align: top;
	    }
	#sidebar li { font-size: .9em }
	.pin {
	    width: auto;
	    height: 50px;
	}
	#gmap {
	    width: 90%;
	    margin: .25em auto;
	}
	.ti { display: block }
	#hideStorm {
	    display: block;
	    text-align: center;
	    background: #0080ff;
	    font-size: .8em;
	    color: #fff;
	}
}
